# dependencies
**/node_modules

# builds
**/dist
**/build
**/.next
**/.turbo

# logs
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
**/.env
**/.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# coverage
**/coverage

# pnpm store (optional, usually NOT committed anyway)
.pnpm-store/

# local pnpm lock temporary files
**/.pnpm-debug.log

.cursor/*